.ourDeeds_section {
    width: 100%;
    padding: 2%;
    display: flex;
  flex-wrap: wrap;
}

.img_galer {
    flex: 20%;
    height: 20vw;
}

.img_galer  img {
  transition: .5s;
  /* padding: 15px ; */
  padding: .6vw;
  width: 100%;
  height: 100%;
}

.img_galer  img:hover {
  transform: scale(1.1);
}


@media (max-width: 600px) {
      
  .img_galer  img {
    padding: .8vw ;
  }
}
