.ourDeeds_section {
    width: 100%;
    padding: 2%;
    display: flex;
  flex-wrap: wrap;
}

.img_galer {
    flex: 20%;
    height:15rem;
}

.img_galer  img {
  transition: .5s;
  padding: 15px ;
  width: 100%;
  height: 100%;
}

.img_galer  img:hover {
  transform: scale(1.1);
}

@media (max-width: 922px) {
  
  .img_galer {
    height: 12rem;
  }
}

@media (max-width: 780px) {
  
  .img_galer {
    height: 10rem;
  }
}

@media (max-width: 600px) {
  
  .img_galer {
    height: 5rem;
  }
  
  .img_galer  img {
    transition: .5s;
    padding: 7px ;
  }
}
    
